<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src='js/wapp.js'></script>
    <title>KMB</title>
</head>
<body>
    <h1>KMB</h1>
    <p><input type="search" placeholder="Search route..." name="search" id="search"></p>
    <div class="container" id="routes"></div>

</body>
</html>