<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src='../js/location.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <title>KMB Bus Stop</title>
</head>
<body>
    <h1>KMB Bus Stop</h1>
    <p><a href="/">Home</a></p><br>
    <div id="0" style="display: none"><%=stop_id %></div><br>
    <div id="map"></div><br>
    <div id="eta"></div>

</body>
</html>